.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  .questionTitle {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .questionSubtitle {
    font-size: 14px;
    color: #bcbcbc;
  }

  .options {
    padding-left: 0;
    width: 100%;

    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.4);
        transform: translateY(1px);
      }

      .optionText {
        font-size: 16px;
      }

      input {
        accent-color: #007bff;
      }
    }
  }

  .buttonsContainer {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;

    .button {
      padding: 10px 20px;
      border-radius: 5px;
      outline: none;
      border: none;
      font-weight: 500;
      font-size: 16px;

      &:first-child {
        background-color: #eeeeee;
        color: currentColor;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #dddddd;
        }
      }

      &:last-child {
        background-color: #007bff;
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0160c7;
        }
      }
    }
  }
}
