.completionContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 24px;
    margin: 0;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  .restartButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0160c7;
    }
  }
}
