.container {
  position: relative;
  height: 20px;
  width: 100%;

  .bar {
    width: 100%;
    height: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 3px;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background-color: #3dc000;
    border-radius: 3px;
  }
}
